<%= content_for :title do %>
  Home
<% end %>

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <!-- title right -->
        <h3>Title Left</h3>
      </div>
    </div>

    <div class="title_right">
      <div class="col-md-2 col-sm-2 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <!-- title right -->
          <p>Title Right</p>
        </div>
      </div>
    </div>

    </br>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <!-- Conteudo da página... -->
            <h4>Teste de overdose... </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
